
body {
  font-family:  'FordAntennaRegular', Arial, Verdana, sans-serif;
  font-size: 16px;
 background: url(../img/background.gif) no-repeat 60% 100% fixed #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  color: white;
  overflow-x: hidden;
}
  h2 {
    text-transform: uppercase;
  }
  
  

  .logo-image {
  display: block;
  margin: 0 auto 50px auto;
  position: relative;
  top: -2px;
}

  .spacer {
    display: block;
    width: 80%;
    height: 2px;
    background: white;
    opacity: 0.4;
  }
  #main {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #main header {
    display: block;
    height: 50px;
    width: 100%;
    background: white;
    border-bottom: 2px solid #006699;
    color: #333;
  }
  
    #main #content-wrapper .btn-danger {
  background: #000;
  border: none;
  margin-bottom: 10px;
  }
  
  #main #content-wrapper, #main header .navigation {
    position: relative;
    display: block;
    width: 980px;
    margin: 0 auto;
    padding: 0;
  }
  #main header .navigation .welcome, #main header .navigation .logout {
    float: left;
    height: 50px;
    width: 50%;
    margin: 0;
    padding: 0;
    line-height: 50px;
    font-size: 14px;
  }
  #main header .navigation .logout a {
    float: right;
    color: #000;
  }
  #main header .navigation .logout a:hover {
    color: #239edc;
  }
  #main header .navigation .logout a:active {
    color: #006699;
  }
  #main .logo {
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/logo.png) no-repeat;
    height: 192px;
    width: 106px;
  }
  #main #content-wrapper #index {
    width: 100%;
    padding: 25px;
    background: white;
    border-bottom: 2px solid #006699;
    margin-top: 80px;
    color: #333;
  }
  #main #content-wrapper #index ul.dealers {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
  }
  #main #content-wrapper #index ul.dealers li {
    float: left;
    margin-right: 23px;
  }
  #main #content-wrapper #index ul.dealers li:last-child {
    margin-right: 0;
  }
}



@media print {
  body {
    background: white;
  }

  #header,
  #content-wrapper h2,
  #content-wrapper .spacer,
  #content-wrapper #index > ul,
  #content-wrapper #index > a {
    display: none;
  }
}