@font-face {
  font-family: 'Toyota-Display-Regular';
  src: url('../fonts/Toyota Display/ToyotaDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Toyota-Display-Bold';
  src: url('../fonts/Toyota Display/ToyotaDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Toyota-Text-Regular';
  src: url('../fonts/Toyota Text/ToyotaText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Toyota-Text-Bold';
  src: url('../fonts/Toyota Text/ToyotaText-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Toyota-Text-Italic';
  src: url('../fonts/Toyota Text/ToyotaText-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Toyota-Text-BoldItalic';
  src: url('../fonts/Toyota Text/ToyotaText-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family:  'FordAntennaRegular', Arial, Verdana, sans-serif;
  font-size: 16px;
    background: url(../img/background.gif) no-repeat 60% 100% fixed #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  color: white;
  overflow-x: hidden;
}
.logo-image {
  display: block;
  margin: 0 auto;
}
#main {
  position: relative;
  display: block;
  width: 980px;
  margin: 0 auto;
  padding: 0;
}
#main .logo {
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/logo.png) no-repeat;
  height: 192px;
  width: 106px;
}
#main #login {
  width: 600px;
  margin: 0 auto;
  padding-top: 215px;
}

.admin-form .panel-danger.heading-border:before, .admin-form .panel-danger .heading-border:before {
    background-color: #bd9418;
}
.admin-form .panel-danger > .panel-heading:before {
    background-color: #bd9418;
}
.admin-form .panel {
  border-color: #bd9418;
}
.admin-form .panel-danger > .panel-heading {
  border-top-color: #bd9418;
}
.admin-form .btn-primary {
  background-color: #000;
}
.admin-form .btn-primary:hover {
  background-color: #1983b8;
}
.admin-form .btn-primary:active {
  background-color: #000;
}
