@font-face {
  font-family: "FordAntennaRegular";
  src: url("../fonts/ford/fordantenna-regular-webfont.eot?") format("eot"), url("../fonts/ford/fordantenna-regular-webfont.woff") format("woff"), url("../fonts/ford/fordantenna-regular-webfont.ttf") format("truetype"), url("../fonts/ford/fordantenna-regular-webfont.svg#webfont3Ko8ZXQl") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FordAntennaBold";
  src: url("../fonts/ford/fordantenna-bold-webfont.eot?") format("eot"), url("../fonts/ford/fordantenna-bold-webfont.woff") format("woff"), url("../fonts/ford/fordantenna-bold-webfont.ttf") format("truetype"), url("../fonts/ford/fordantenna-bold-webfont.svg#webfontBxgovnDp") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FordAntennaBlack";
  src: url("../fonts/ford/fordantenna-black-webfont.eot?") format("eot"), url("../fonts/ford/fordantenna-black-webfont.woff") format("woff"), url("../fonts/ford/fordantenna-black-webfont.ttf") format("truetype"), url("../fonts/ford/fordantenna-black-webfont.svg#webfontD7UuRJ45") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FordAntennaLight";
  src: url("../fonts/ford/fordantenna-light-webfont.eot?") format("eot"), url("../fonts/ford/fordantenna-light-webfont.woff") format("woff"), url("../fonts/ford/fordantenna-light-webfont.ttf") format("truetype"), url("../fonts/ford/fordantenna-light-webfont.svg#webfontUhH2nUHw") format("svg");
  font-weight: normal;
  font-style: normal;
}




body {
  font-family:  'FordAntennaRegular', Arial, Verdana, sans-serif;
  font-size: 16px;
  background: url(../img/background.gif) no-repeat 60% 100% fixed #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  color: white;
  overflow-x: hidden;
  /*border-top: 10px solid #1d2d54;*/
}

.title p{
  font-family: 'FordAntennaLight', Arial, Verdana, sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 40px;
}

.title h1{
  font-family: 'FordAntennaBold', Arial, Verdana, sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #fff;
  /*padding-bottom: 40px;*/
  text-transform: uppercase;
  /*margin-top: 20px;*/
  margin-bottom: 0;
}

.person-name {
  font-size: 16px;
  font-family: 'FordAntennaRegular', Arial, Verdana, sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.person-name span {
  font-size: 34px;
  font-family: 'FordAntennaBold', Arial, Verdana, sans-serif;
  color: #fff;
  text-transform: uppercase;
}


.all-info {
  font-size: 34px;
  font-family: 'FordAntennaBold', Arial, Verdana, sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 34px;
  padding-bottom: 30px;
}

.all-info span {
  font-family: 'FordAntennaRegular', Arial, Verdana, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.logo-small img {
  width: 300px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.main-title h1 {
  font-family: "FordAntennaBold",Arial,Verdana,sans-serif;
  line-height: 38px;
  margin-bottom: 20px;
}

.main-title p {
  margin-bottom: 40px;
}

/*#main {
  position: relative;
  display: block;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}*/
#main .logo {
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/logo.png) no-repeat;
  height: 192px;
  width: 106px;
}
#main #content-wrapper {
  position: relative;
  display: block;
  padding-top: 2%;
  text-align: center;
}
#main #content-wrapper .heading {
  font-family: 'FordAntennaRegular', Arial, Verdana, sans-serif;
  font-size: 26px;
  font-weight: normal;
  color: white;
  padding-bottom: 40px;
  text-transform: uppercase;
}
#main #content-wrapper .heading span {
  font-family: 'FordAntennaBold', Arial, Verdana, sans-serif;
  font-size: 55px;
  font-weight: bold;
}
#main #content-wrapper .content .message {
  font-family: 'FordAntennaBold', Arial, Verdana, sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  padding-bottom: 24px;
  color: #fff;
}
#main #content-wrapper form, #main #content-wrapper .display {
  padding-bottom: 30px;
}
#main #content-wrapper .content .display p {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  padding-left: 60px;
  padding-right: 60px;
}
#main #content-wrapper .content .display ul.dealers,
#main #content-wrapper .content .display ul.date,
#main #content-wrapper .content .display ul.time {
  position: relative;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  font-weight: 300;
  list-style: none;
  padding-left: 0;
}
#main #content-wrapper .content .display ul.dealers li,
#main #content-wrapper .content .display ul.date li,
#main #content-wrapper .content .display ul.time li {
  position: relative;
  min-width: 140px;
  padding-bottom: 25px;
  color: #fff;
}
#main #content-wrapper .content .display ul.dealers li {
  float: left;
}
#main #content-wrapper .content .display ul.date li {
  display: inline-block;
  min-width: 150px;
}
#main #content-wrapper .content .display ul.time li {
  float: left;
  min-width: 196px;
}
#main #content-wrapper .content .display ul.dealers li a.choose,
#main #content-wrapper .content .display ul.date li a.choose,
#main #content-wrapper .content .display ul.time li a.choose {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 132px;
  height: 43px;
  background: url(../img/choose2.png) no-repeat;
  left: 50%;
  margin-left: -38px;
  margin-top: 10px;
}
#main #content-wrapper .content .display ul.dealers li:last-child,
#main #content-wrapper .content .display ul.date li:last-child,
#main #content-wrapper .content .display ul.time li:last-child {
  margin-right: 0;
}
#main #content-wrapper .content a.continue {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 132px;
  height: 43px;
  background: url(../img/continue.png) no-repeat;
  left: 50%;
  margin-left: -68px;
}
#main #content-wrapper .content .confirm {
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 20px;
}
#main #content-wrapper .content .confirm span {
  display: block;
  font-family: 'FordAntennaBold', Arial, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
}
#main #content-wrapper form.confirmation input[type="text"] {
  margin-bottom: 25px;
}
#main #content-wrapper form label {
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  font-weight: 300;
}
#main #content-wrapper form input[type="text"] {
    color: #000000;
    font-size: 16px;
    height: 43px;
    line-height: 30px;
    text-align: center;
    /*width: 300px;*/
    text-transform: uppercase;
}
#main #content-wrapper form input[type="image"] {
  border: none;
  outline: none;
  text-align: center;
  margin-top: 25px;
}
#main #content-wrapper form.confirmation input[type="image"] {
  margin-top: 0px;
}

#main #content-wrapper form select {
  margin: 0 auto;
  width: 232px;
  padding: 10px;
  color: #999;
  border: none;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.logo-image {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

@media (min-width:200px) and (max-width:748px) {
  body {
    background: #000000;
    /*background: url(../img/background1.jpg) no-repeat 70% 0% fixed #000000;*/
    /*background-size: 400%;*/
  }
  #main #content-wrapper .content .display p {
    padding: 0;
  }
  /*#main #content-wrapper .content .display ul.dealers li {
    float: none !important;
    min-width: 140px !important;
  }*/
  #main #content-wrapper .content .display ul.dealers li, #main #content-wrapper .content .display ul.date li, #main #content-wrapper .content .display ul.time li{
    float: none;
    min-width: 140px !important;
  }
}

/*@media (min-width:749px) and (max-width:991px) {
  #main #content-wrapper .content .display ul.dealers li, #main #content-wrapper .content .display ul.date li, #main #content-wrapper .content .display ul.time li{
    float: none;
    min-width: 140px !important;
  }
}*/
